
.d-item{
  display: flex;
  text-align: center;
  color: white;
  justify-content: space-between;
  .pi{
    font-size: 4em;
    margin-bottom: 15px;
  }
  .name{
    font-size: 1.4em;
  }
  .number{
    margin-top: 50px;
    font-size: 2.5em;
    // float: right;
  }
}
.d-orders{
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #1833aa, #74ebd5);
  background: linear-gradient(to right, #1833aa, #74ebd5);

}
.d-products{
  background: #74ebd5;
  background: -webkit-linear-gradient(to right,#3c5be7, #74ebd5);
  background: linear-gradient(to right,  #3c5be7, #74ebd5);

}
.d-customers{
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #2944be, #74ebd5);
  background: linear-gradient(to right, #2944be, #74ebd5);
}
.d-sales{
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #4764e2, #74ebd5);
  background: linear-gradient(to right,  #4764e2, #74ebd5);

}

@media (max-width: 600px) {

  .admin-page{
    width: 100%;
  }
  .d-item{
    display: flex;
    text-align: center;
    color: white;
    justify-content: space-between;
    width: 100%;
    .pi{
      font-size: 2em;
      margin-bottom: 15px;
    }
    .name{
      font-size: 1.0em;
    }
    .number{
      margin-top: 50px;
      font-size: 1.5em;
      // float: right;
    }
  }

}
