<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Add Category" subheader="You can add or edit a category">
    <!-- <ng-template pTemplate -->
      <div class="p-grid mb-5">
        <div class="p-col-12">
          <p-toolbar>
            <div class="p-toolbar-group-start">

            </div>
            <div class="p-toolbar-group-end">
              <p-button
              label="Create"
              icon="pi pi-plus"
              styleClass="p-button-primary"
              class="mr-2"
              (click)="onSubmit()"
              ></p-button>
              <p-button
              label="Cancel"
              icon="pi pi-arrow-circle-left"
              styleClass="p-button-secondary"
              class="mr-2"
              routerLink="/categories"
              ></p-button>
            </div>
          </p-toolbar>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12">
          <form [formGroup]="form">
            <div class="flex gap-3">
              <div class="flex flex-column gap-2">
                <label for="name">Name</label>
                <input pInputText id="name" formControlName="name"/>
              </div>
              <div class="flex flex-column gap-2">
                <label for="icon">Icon</label>
                <input pInputText id="icon" formControlName="icon"/>
              </div>

            </div>
          </form>
        </div>
      </div>
  </p-card>
</div>
