<div class="admin-page">
<p-card header="Orders" subheader="List of all orders">
  <div class="p-grid">
    <div class="p-col-12">
      <p-toolbar>
        <p-button
        label="New"
        icon="pi pi-plus"
        styleClass="p-button-success"
        class="mr-2"
        routerLink="form"
        ></p-button>
      </p-toolbar>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
        <p-table [value]="orders" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>ShippingAddress</th>
              <th>Phone</th>
              <th>Total Price</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.shippingAddress1}}</td>
              <td>{{order.phone}}</td>
              <td>{{order.totalPrice}}</td>
            </tr>
          </ng-template>
        </p-table>
    </div>
  </div>
</p-card>
</div>
