<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Add Category" subheader="You can add or edit a category">
    <!-- <ng-template pTemplate -->
      <div class="p-grid mb-5">
        <div class="p-col-12">
          <p-toolbar>
            <div class="p-toolbar-group-start">

            </div>
            <div class="p-toolbar-group-end">
              <p-button
              label="Create"
              icon="pi pi-plus"
              styleClass="p-button-primary"
              class="mr-2"
              (click)="onSubmit()"
              ></p-button>
              <p-button
              label="Cancel"
              icon="pi pi-arrow-circle-left"
              styleClass="p-button-secondary"
              class="mr-2"
              routerLink="/orders"
              ></p-button>
            </div>
          </p-toolbar>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12">
          <form [formGroup]="form">
            <div class="flex gap-3 mb-4">
              <div class="flex flex-column gap-2">
                <label for="name">Shipping Address 1</label>
                <input pInputText id="name" formControlName="shippingAddress1"/>
              </div>
              <div class="flex flex-column gap-2">
                <label for="name">Shipping Address 2</label>
                <input pInputText id="name" formControlName="shippingAddress2"/>
              </div>
              <div class="flex flex-column gap-2">
                <label for="city">City</label>
                <input pInputText id="" formControlName="city"/>
              </div>
              <div class="flex flex-column gap-2">
                <label for="zip">Zip</label>
                <input pInputText id="zip" formControlName="zip"/>
              </div>
            </div>
            <div class="flex gap-3 mb-4">
              <div class="flex flex-column gap-2">
                <label for="country">Country</label>
                <input pInputText id="country" formControlName="country"/>
              </div>
              <div class="flex flex-column gap-2">
                <label for="icon">Phone</label>
                <input pInputText id="icon" formControlName="phone"/>
              </div>
              <div class="flex flex-column gap-2">
                <label for="status">Status</label>
                <input pInputText id="status" formControlName="status"/>
              </div>
              <div class="flex flex-column gap-2">
                <label for="icon">Total Price</label>
                <input pInputText id="icon" formControlName="totalPrice"/>
              </div>
            </div>
          </form>
        </div>
      </div>
  </p-card>
</div>
