<p-toast></p-toast>
<div class="admin-page">
  <p-card [header]="editMode? 'Update Product':'Create Product'" subheader="You can add or edit a category">
    <!-- <ng-template pTemplate -->
      <div class="p-grid mb-5">
        <div class="p-col-12">
          <p-toolbar>
            <div class="p-toolbar-group-start">

            </div>
            <div class="p-toolbar-group-end">
              <p-button
              [label]="editMode? 'Update':'Create'"
              icon="pi pi-plus"
              styleClass="p-button-primary"
              class="mr-2"
              (click)="onSubmit()"
              ></p-button>
              <p-button
              label="Cancel"
              icon="pi pi-arrow-circle-left"
              styleClass="p-button-secondary"
              class="mr-2"
              routerLink="/products"
              ></p-button>
            </div>
          </p-toolbar>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12">
          <form [formGroup]="form">
            <div class="formgrid grid">
              <div class="field col-12 md:col-5">
                <label for="name">Name</label>
                <input id="name" type="text" formControlName="name"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <small *ngIf="productsForm['name'].invalid && isSubmitted" class="p-error">Name is required</small>
              </div>
              <div class="field col-12 md:col-5">
                <label for="brand">Brand</label>
                <input id="brand" type="text" formControlName="brand"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <small *ngIf="productsForm['brand'].invalid && isSubmitted" class="p-error"> Brand is required</small>
              </div>
            </div>

            <div class="formgrid grid">
              <div class="field col-12 md:col-10">
                <label for="description">Description</label>
                <textarea id="description" type="text" formControlName="description"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
                <small *ngIf="productsForm['name'].invalid && isSubmitted" class="p-error">Name is required</small>
              </div>
            </div>

            <div class="formgrid grid">
              <div class="field col-12 md:col-5">
                <label for="countInStock">Count in stock</label>
                <input id="countInStock" type="number" formControlName="countInStock"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <small *ngIf="productsForm['countInStock'].invalid && isSubmitted" class="p-error">Stock is required</small>
              </div>
              <div class="field col-12 md:col-5">
                <label for="price">Price</label>
                <input id="price" type="text" formControlName="price"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <small *ngIf="productsForm['price'].invalid && isSubmitted" class="p-error">Price is required</small>
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col-12 md:col-5">
                <label for="category">Category</label>
                <div>
                  <p-dropdown formControlName="category" [options]="categories" optionLabel="name" optionValue="id" [filter]="true" filterBy="id" [showClear]="true" placeholder="Select a Category"></p-dropdown>
                </div>
                <small *ngIf="productsForm['category'].invalid && isSubmitted" class="p-error">Category is required</small>
              </div>
              <div class="field col-12 md:col-5">
                <label for="isFeatured">Featured</label><br>
                <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
              </div>
            </div>

            <div class="formgrid grid">
              <div class="field col-12 md:col-5">
                <div class="mb-2">
                  <label for="name">Main Image</label>
                </div>
                <p-fileUpload
                  name="demo[]"
                  url="https://www.primefaces.org/cdn/api/upload.php"
                  (onUpload)="onImageUpload($event)"
                  [multiple]="true"
                  accept="image/*"
                  >
                  <ng-template pTemplate="content">
                      <ul *ngIf="uploadedFiles.length">
                          <li *ngFor="let file of uploadedFiles">
                              {{ file.name }} - {{ file.size }} bytes
                          </li>
                      </ul>
                  </ng-template>
                </p-fileUpload>

                <!-- <input type="file" class="p-inputtext" accept="image/*" (change)="onImageUpload($event)"/> -->
                <!-- <small *ngIf="productsForm['image'].invalid && isSubmitted" class="p-error">Image is required</small> -->
                <!-- <div class="col-2 mt-2 pl-0">
                  <img style="width: 100%" [src]="imageDisplay" alt="" />
                </div> -->
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col-10">
                <label for="richDescription">Product Details</label>
                <p-editor formControlName="richDescription" [style]="{ height: '320px' }" maxlength="1000000"></p-editor>
              </div>
            </div>
          </form>
        </div>
      </div>
  </p-card>
</div>
