<div class="admin-page">
  <p-card header="Dashboard" subheader="Latest Updates">
    <div class="grid">
      <div class="col-3 admin-page">
        <p-card styleClass="d-orders" routerLink="/orders">
          <div class="d-item">
            <div>
              <i class="pi pi-briefcase"></i><br>
              <span class="name">Orders</span>
            </div>
            <span class="number">{{orders.length}}</span>
          </div>
        </p-card>
      </div>

      <div class="col-3 admin-page">
        <p-card styleClass="d-customers" routerLink="/users">
          <div class="d-item">
            <div>
              <i class="pi pi-users"></i><br>
              <span class="name">Customers</span>
            </div>
            <span class="number">{{users.length}}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3 admin-page">
        <p-card styleClass="d-products" routerLink="/products">
          <div class="d-item">
            <div>
              <i class="pi pi-shopping-bag"></i><br>
              <span class="name">Products</span>
            </div>
            <span class="number">{{products.length}}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3 admin-page">
        <p-card styleClass="d-sales" routerLink="/orders">
          <div class="d-item">
            <div>
              <i class="pi pi-dollar"></i><br>
              <span class="name">Total Sales</span>
            </div>
            <span class="number">{{ totalSales |currency : "KES"}}</span>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
