<div class="admin-page">
  <p-card header="Dashboard" subheader="Latest Updates">
    <div class="grid">
      <div class="col-3">
        <p-card styleClass="d-verified" routerLink="/users">
          <div class="d-item">
            <div>
              <!-- <i class="pi pi-car"></i> -->
              <span class="name">Users</span>
            </div>
            <span class="number"></span>
          </div>
        </p-card>
        <!-- <p-card header="{{verified}}" routerLink="/verifiedvehicles" [style]="{ 'background-color':'lightblue'}">
          <p class="m-0">
            Verified Vehicles
          </p>
        </p-card> -->
      </div>

      <div class="col-3">
        <p-card styleClass="d-notverified" routerLink="/products">
          <div class="d-item">
            <div>
              <!-- <i class="pi pi-car"></i> -->
              <span class="name">Products</span>
            </div>
            <span class="number"></span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-buyer" routerLink="/categories">
          <div class="d-item">
            <div>
              <span class="name">Categories</span>
            </div>
            <span class="number"></span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-vendor" routerLink="/orders">
          <div class="d-item">
            <div>
              <!-- <i class="pi pi-car"></i> -->
              <span class="name">Orders</span>
            </div>
            <span class="number"></span>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
