<!-- <div class="grid footer">
  <div class="col-8 footer-items">
    <h5>@eshop.mweru 2023</h5>
  </div>
  <div class="col-4 footer-icons">
    <i class="pi pi-facebook"></i>
    <i class="pi pi-instagram"></i>
    <i class="pi pi-youtube"></i>
    <i class="pi pi-twitter"></i>
  </div>
</div> -->
<footer>
  <div class="grid footer-wrapper">
    <div class="col-8">&copy; eshop.mweru 2023</div>
    <div class="col-4 social">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/"><i class="pi pi-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/"><i class="pi pi-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/"><i class="pi pi-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/"><i class="pi pi-youtube"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
