<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Add Category" subheader="You can add or edit a category">
    <!-- <ng-template pTemplate -->
      <div class="p-grid mb-5">
        <div class="p-col-12">
          <p-toolbar>
            <div class="p-toolbar-group-start">

            </div>
            <div class="p-toolbar-group-end">
              <p-button
              label="Create"
              icon="pi pi-plus"
              styleClass="p-button-primary"
              class="mr-2"
              (click)="onSubmit()"
              ></p-button>
              <p-button
              label="Cancel"
              icon="pi pi-arrow-circle-left"
              styleClass="p-button-secondary"
              class="mr-2"
              routerLink="/categories"
              ></p-button>
            </div>
          </p-toolbar>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12">
          <form [formGroup]="form">
            <div class="flex gap-3">
              <div class="flex flex-column gap-2">
                <label for="name">Name</label>
                <input pInputText id="name" formControlName="name"/>
              </div>
              <div class="flex flex-column gap-2">
                <label for="email">Email</label>
                <input pInputText id="email" formControlName="email"/>
              </div>
              <div class="flex flex-column gap-2">
                <label for="phone">Phone</label>
                <input pInputText id="phone" formControlName="phone"/>
              </div>
              <div class="flex flex-column gap-2">
                <label for="passwordHash">Password</label>
                <input pInputText id="passwordHash" formControlName="password"/>
              </div>
              <div class="flex flex-column gap-2">
                <label for="street">Street</label>
                <input pInputText id="street" formControlName="street"/>
              </div> <div class="flex flex-column gap-2">
                <label for="country">Country</label>
                <input pInputText id="country" formControlName="country"/>
              </div> <div class="flex flex-column gap-2">
                <label for="apartment">Apartment</label>
                <input pInputText id="apartment" formControlName="apartment"/>
              </div> <div class="flex flex-column gap-2">
                <label for="zip">Zip</label>
                <input pInputText id="zip" formControlName="zip"/>
              </div> <div class="flex flex-column gap-2">
                <label for="city">City</label>
                <input pInputText id="city" formControlName="city"/>
              </div>
            </div>
          </form>
        </div>
      </div>
  </p-card>
</div>
