<p-toast></p-toast>
<div class="admin-page">
  <p-card [header]="editMode? 'Update Order' : 'Add Order'" subheader="You can add or edit a category">
    <!-- <ng-template pTemplate -->
      <div class="p-grid mb-5">
        <div class="p-col-12">
          <p-toolbar>
            <div class="p-toolbar-group-start">

            </div>
            <div class="p-toolbar-group-end">
              <p-button
              [label]="editMode? 'Update':'Create'"
              icon="pi pi-plus"
              styleClass="p-button-primary"
              class="mr-2"
              (click)="onSubmit()"
              ></p-button>
              <p-button
              label="Cancel"
              icon="pi pi-arrow-circle-left"
              styleClass="p-button-secondary"
              class="mr-2"
              routerLink="/orders"
              ></p-button>
            </div>
          </p-toolbar>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12">
          <form [formGroup]="form">
            <div class="formgrid grid">
              <div class="field col-12 md:col-5">
                  <label for="shippingAddress1">Shipping Address 1</label>
                  <input id="shippingAddress1" type="text" formControlName="shippingAddress1" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col-12 md:col-5">
                  <label for="shippingAddress2">Shipping Address 2</label>
                  <input id="shippingAddress2" type="text" formControlName="shippingAddress2" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col-12 md:col-5">
                  <label for="city">City</label>
                  <input id="city" type="text" formControlName="city" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col-12 md:col-5">
                  <label for="zip">Zip</label>
                  <input id="zip" type="text" formControlName="zip" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col-12 md:col-5">
                  <label for="country">Country</label>
                  <input id="country" type="text" formControlName="country" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col-12 md:col-5">
                  <label for="phone">Phone</label>
                  <input id="phone" type="text" formControlName="phone" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>
            <div class="formgrid col-12 md:grid">
              <div class="field col-5">
                  <label for="status">Status</label>
                  <input id="status" type="text" formControlName="status" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
              <div class="field col-12 md:col-5">
                  <label for="totalPrice">Total Price</label>
                  <input id="totalPrice" type="text" formControlName="totalPrice" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>
          </form>
        </div>
      </div>
  </p-card>
</div>
